.header {
    height: 60px;
    position: relative;
    background-color: $second-color;
    padding: 20px 0;
    &__container {
        display: flex;
        align-items: center;
    }
    &__logo {
        width: 65px;
        height: 20px;
        margin-right: 125px;
        img {
            height: 100%;
        }
    }
    &__navigation {
        margin-right: auto;
    }
    &__menulist {
        display: flex;
        align-items: center;
        list-style-type: none;
    }
    &__menuelement {
        margin-right: 64px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        color: #ffffff;
        text-decoration: none;
        cursor: pointer;
        transition: 0.3s all;
        &:hover {
            color: $main-color;
        }
        &:active {
            color: #688B05;
        }
        &:focus-visible {
            outline: 1px solid $main-color;
            outline-offset: 2px;
        }
    }
    &__icons {
        display: flex;
        align-items: center;
    }
    &__ico {
        display: block;
        margin-right: 64px;
        &:last-child {
            margin-right: 0;
        }
        &:focus-visible {
            outline: 1px solid $main-color;
        }
        svg {
            cursor: pointer;
            display: block;
            stroke: $main-color;
            transition: 0.3s all;
            &:hover {
                stroke: #688B05;
            }
            use {
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 991px) {
    .header {
        &__logo {
            margin-right: 50px;
        }
        &__menuelement {
            margin-right: 25px;
        }
    }
}

@media (max-width: 767px) {
    .header {
        &__logo {
            margin-right: auto;
        }
        &__navigation {
            position: absolute;
            margin-right: 0;
            bottom: -40px;
            left: 50%;
            transform: translateX(-50%);
        }
        &__menuelement {
            margin-right: 32px;
        }
        &__link {
            white-space: nowrap;
        }
    }
}

@media (max-width: 462px) {
    .header {
        &__navigation {
            width: 100%;
            overflow: auto;
            white-space: nowrap;
            scrollbar-width: none;
            left: 0;
            transform: translateX(0);
            padding: 0 32px;
        }
        &__menulist {
            width: 414px;
        }
        &__ico {
            margin-right: 32px;
        }
    }
}