.promo {
    min-height: 490px;
    background: linear-gradient(rgba(29, 47, 48, 0.7), rgba(29, 47, 48, 0.7)), url(../img/bg1.webp) center center / cover no-repeat;
    padding: 115px 0;
    &__wrapper {
        max-width: 688px;
    }
    &__subtitle {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: #ffffff;
        margin-bottom: 24px;
    }
    &__isled {
        display: flex;
        align-items: center;
        width: 160px;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        text-align: left;
        color: $main-color;
        text-decoration: none;
        transition: 0.3s all;
        cursor: pointer;
        svg {
            fill: $main-color;
            transition: 0.3s all;
            margin-left: 8px;
            width: 42px;
            height: 23px;
            cursor: pointer;
        }
        &:focus-visible {
            outline: 1px solid $main-color;
        }
        &:hover {
            color: #688B05;
        }
        &:hover svg{
            fill: #688B05;
        }
    }
}

@media (max-width: 991px) {
    .promo {
        min-height: 430px;
        padding: 90px 0;
    }
}

@media (max-width: 767px) {
    .promo {
        padding: 70px 0;
    }
}

@media (max-width: 543px) {
    .promo {
        min-height: 240px;
        padding: 68px 0 30px;
        &__subtitle {
            display: none;
        }
    }
}