@font-face{
	font-family: OpenSans;
	font-display: swap;
	src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face{
	font-family: OpenSans;
	font-display: swap;
	src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face{
	font-family: Cormorant;
	font-display: swap;
	src: url("../fonts/Cormorant-Bold.woff2") format("woff2"), url("../fonts/Cormorant-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face{
	font-family: Cormorant;
	font-display: swap;
	src: url("../fonts/Cormorant-BoldItalic.woff2") format("woff2"), url("../fonts/Cormorant-BoldItalic.woff") format("woff");
	font-weight: 700;
	font-style: italic;
}
